

.weaponContainer{
   width: 100%;
   text-align: center;
    div {
        border-radius: 50%;
        position: relative;
        height: 200px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
        }
        
    }
}
.loading{
    border: 1px dotted black;
}

