  
.Player {
	width: 100%;
	text-align: center;
	
}
.image {
	width: 50%;
	margin: 0 auto;
}

.score {
	border: 1px solid #fff;
	border-radius: 3px;
	display: inline-block;
	min-width: 60px;
	padding: 4px;
}
.label {
	font-weight: bold;
}